# SQLite3 활용

In [1]:
import sqlite3 as sq

- DB에 접속해서 데이터 읽기

In [16]:
# member table에 있는 데이터 모두 읽기
conn = sq.connect('test.db')
cur = conn.cursor()

sql = 'select * from member'
cur.execute(sql)
rows = cur.fetchall()       # 결과 받을땐 이렇게!

cur.close()                 # 다했으면 꼭 닫아주기!
conn.close()

In [17]:
for row in rows:
    print(row)

(1, 'james', 25)
(2, 'maria', 23)
(3, 'tommy', 19)
(4, 'emma', 27)

In [18]:
# 24세 미만 member 가져오기
# member table에 있는 데이터 모두 읽기
conn = sq.connect('test.db')
cur = conn.cursor()

sql = 'select * from member where age <24'
cur.execute(sql)
rows = cur.fetchall()       # 결과 받을땐 이렇게!

cur.close()                 # 다했으면 꼭 닫아주기!
conn.close()

for row in rows:
    print(row)

(2, 'maria', 23)
(3, 'tommy', 19)

In [19]:
# ? 세 미만의 member 가져오는 함수
def get_members_under_age(age):
    conn = sq.connect('test.db')
    cur = conn.cursor()

    sql = 'select * from member where age < ?'
    cur.execute(sql, (age, ))              # 파라메타는 반드시 튜플로 전달해야 함 : (age, )