### member_dao를 이용한 Access

In [35]:
import member_dao as mdao

In [36]:
results = mdao.get_menbers()
for row in results:
    print(row)

(1, 'james', 25)
(2, 'maria', 23)
(3, 'tommy', 19)
(4, 'emma', 27)
(9, 'cha', 51)

In [38]:
params = ('박연진', 35)
mdao.insert_member(params)
result = mdao.get_member_by_mid(10)
print(result)

OperationalError: near "?": syntax error

In [15]:
params = ('park', 35, 6)
mdao.update_member(params)
result = mdao.get_member_by_mid(6)
print(result)

None

In [ ]:
mdao.delete_member(6)
results = mdao.get_menbers