### 인터파크 - 베스트셀러

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

- Step 1

In [2]:
# http://book.interpark.com/display/collectlist.do?_method=BestsellerHourNew201605&bestTp=1&dispNo=028
url = 'http://book.interpark.com/display/collectlist.do?_method=BestsellerHourNew201605&bestTp=1&dispNo=028'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

- Step 2

In [3]:
lis = soup.select('.rankBestContentList > ol > li')
len(lis)

15

- Step 3

In [4]:
li = lis[0]

- rank
    - rankBtn_ctrl rkNum_B01 (1 ~ 9위)
    - rankBtn_ctrl rkNum_M01, rankBtn_ctrl rkNum_M03 (10 ~ 15위)

In [5]:
li1, li13 = lis[0], lis[12]
li1.select('.rankBtn_ctrl')

In [6]:
li13.select('.rankBtn_ctrl')

[<span class="rankBtn_ctrl rkNum_M01"></span>,
 <span class="rankBtn_ctrl rkNum_M03"></span>]

In [7]:
li1.select_one('.rankBtn_ctrl')['class']

['rankBtn_ctrl', 'rkNum_B01']

In [8]:
rank_data = li.select('.rankBtn_ctrl')
if len(rank_data) == 1:
    rank = int(rank_data[0]['class'][-1][-1])
else:
    rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1])

In [9]:
# 제목
title = li.select_one('.itemName').get_text().strip()
title

'흔한남매 14'

In [10]:
# 저자
author = li.select_one('.author').get_text().strip()
author

'흔한남매, 백난도/유난희 그림/흔한컴퍼니 감수'

In [11]:
# 출판사
company = li.select_one('.company').get_text().strip()
company

'미래엔아이세움'

In [12]:
# 가격
price = li.select_one('.price > em').get_text().strip()
price = int(price.replace(',',''))
price

13050

- Step 4

In [13]:
lines = []
for li in lis:
    rank_data = li.select('.rankBtn_ctrl')
    if len(rank_data) == 1:
        rank = int(rank_data[0]['class'][-1][-1])
    else:
        rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1]) 
    title = li.select_one('.itemName').get_text().strip()
    author = li.select_one('.author').get_text().strip()
    company = li.select_one('.company').get_text().strip()
    price = li.select_one('.price > em').get_text().strip()   
    lines.append({'순위':rank, '제목':title, '저자':author, '출판사':company, '가격':price})

In [14]:
pd.DataFrame(lines)

,순위,제목,저자,출판사,가격
0,1,흔한남매 14,"흔한남매, 백난도/유난희 그림/흔한컴퍼니 감수",미래엔아이세움,"13,050"
1,1,도시와 그 불확실한 벽,무라카미 하루키(村上春樹),문학동네,"17,550"
2,3,일론 머스크,월터 아이작슨,21세기북스,"34,200"
3,4,퓨처 셀프,벤저민 하디/최은아 역,상상스퀘어,"17,820"
4,5,가짜 노동,"데니스 뇌르마르크, 아네르스 포그 옌센/이수영 역",자음과모음,"15,120"
5,6,어떤 하락장에서도 살아남을 수 있는 시장 불변의 법칙,장지웅,여의도책방,"18,000"
6,7,트렌드 코리아 2024,"김난도, 추예린, 전다현, 전미영, 최지혜",미래의창,"17,100"
7,7,1%를 읽는 힘,메르,토네이도,"19,800"
8,7,디케의 눈물,조국,다산북스,"16,920"
9,10,세이노의 가르침,세이노,데이원,"6,480"
10,11,최민준의 아들코칭 백과,최민준,위즈덤하우스,"16,920"
11,11,5천 년 역사가 단숨에 이해되는 최소한의 한국사,최태성,프런트페이지,"16,200"
12,13,도둑맞은 집중력,요한 하리/김하현 역,어크로스,"16,920"
13,14,힘과 쉼,백영옥,김영사,"15,120"
14,14,비가 오면 열리는 상점,유영광,클레이하우스,"15,120"